body {
  font-family: Arial;
}
body #looqs-wrapper {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 400px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}
body #looqs-wrapper li {
  opacity: 0.4;
}
body #looqs-wrapper li.notMissed {
  opacity: 1;
}
body #looqs-wrapper a {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px 0px 10px 0px;
  line-height: 16px;
  font-size: 14px;
  text-decoration: none;
  color: #2d2d31;
  text-overflow: ellipsis;
  width: 390px;
  display: block;
}
body #looqs-wrapper a.highlight {
  margin-bottom: 10px;
  font-weight: normal;
  background-color: #f8f670;
  font-style: italic;
}
